<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/homecss.css"
    />
  </head>
  <body>
    <head>
      <a href="home.html"
        ><img src="/petshop-web/frontend/resources/image/logo.png" alt="" />Pet
        Shop</a
      >
      <div align="leff">
        <input type="text" placeholder="Tìm kiếm...." />
      </div>
      <nav>
        <ul>
          <li><a href=""></a>Chó</li>
          <li><a href=""></a>Mèo</li>
        </ul>
      </nav>
    </head>
  </body>
</html>
